<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/resources/do_circle.svg">
    <title>DO :: 얼굴 등록</title>

    <meta name="title" content="DO">
    <meta name="description" content="논산대건고등학교 인트라넷 DO 입니다.">
    <meta property="og:title" content="DO">
    <meta property="og:description" content="논산대건고등학교 인트라넷 DO 입니다.">
    <meta property="og:image" content="/resources/og_image.png">
    <meta property="og:url" content="v5.dghs.site">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KCZ7CDL7SL"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-KCZ7CDL7SL'); 
    </script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/views/js/pay-facesign.js"></script>
    <script>
        function setVh() {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);
        }

        window.addEventListener('resize', setVh);
        document.addEventListener('DOMContentLoaded', setVh);
        setVh();
    </script>
    <link rel="stylesheet" href="/views/css/defalut.css">
</head>

<body>
    <div class="
        relative flex flex-col items-center justify-start
        overflow-x-hidden overflow-y-hidden
        gap-5 text-[20px] text-gray-700 bg-gray-100 w-full full-height">

        <div id="CONTENT_AREA" class="
            relative flex flex-col justify-center items-center
            flex-nowrap 
            flex-grow flex-shrink-0 basis-0
            h-[1fr] max-w-[600px]
            overflow-x-auto overflow-y-auto
            px-[20px] space-y-5
            w-full sm:w-[100%] md:w-[70%] lg:w-[50%]">

            <div class="relative flex items-center justify-center mt-6">
                <div id="faceStatusBorder"
                    class="rounded-full w-64 h-64 border-4 border-gray-400 transition-colors duration-500 ease-in-out overflow-hidden relative">
                    <canvas id="cameraCanvas" width="256" height="256" class="w-full h-full"></canvas>
                    <canvas id="guideCanvas"
                        class="absolute inset-0 pointer-events-none z-10 transition-opacity duration-500 ease-in-out opacity-0"></canvas>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center">
                <div id="title" class="text-[20px] sm:text-[22px] text-gray-800 pretendard-600">이제부터 얼굴을 촬영할게요.</div>
                <div id="subtitle" class="text-[18px] sm:text-[20px] text-gray-600 pretendard-600">준비해주세요.</div>
            </div>
        </div>
    </div>
</body>

</html>